@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Quicksand', system-ui, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Add Quicksand font weights */
@font-face {
  font-family: 'Quicksand';
  /* src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
  font-display: swap;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 12s linear infinite;
}

.bg-dark-gradient {
  background-image: radial-gradient(
    circle at center,
    rgba(24, 24, 27, 0.8) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.hover-zinc-gradient:hover {
  background-image: linear-gradient(
    to right,
    rgba(161, 161, 170, 0.1),
    rgba(161, 161, 170, 0.05)
  );
}
